@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido al gestor de developers</h1>
    <p class="lead">Este gestor te ayudara a mantener una lista de tus developers </p>
    <hr class="my-4">
    <p>Taller de tecnologias Microsoft!.</p>
</div>